+++
title = "Home"
linkTitle = "Home"
+++

{{ define "main" }}

{{< blocks/section >}}
<h1>The Lingua Pupuli Project Umbrella</h1>

Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
{{% /blocks/section %}}

{{% blocks/lead-clickable color="secondary" link="vscode/" button-color="light" %}}
<h1>Puppet VSCode Extension</h1>
<br />
Premiere Puppet Editing Experience
{{% /blocks/lead-clickable %}}


{{% blocks/lead-clickable color="success" link="editor-services/" button-color="light" %}}
<h1>Editor Services</h1>
<br />
Cross platform, Open Source, Multi Editor
{{% /blocks/lead-clickable %}}

{{% blocks/lead-clickable color="info" link="editor-syntax/" button-color="light" %}}
<h1>Syntax Highlighter</h1>
<br />
Textmate Highligher for the Puppet Language, for whatever editor you use!
{{% /blocks/lead-clickable %}}
