{{ $icon := .Get "icon" | default "fa-lightbulb" }}
{{ $iconBackground := .Get "iconBackground" | default "secondary" }}
{{ $titleColor := .Get "titleColor" | default "" }}
{{ $url_text := .Get "url_text" }}
{{ $linkType := .Get "linkType" | default "1" }}
<div class="col-lg-4 mb-5 mb-lg-0 text-center container">
  <div class="d-flex justify-content-center">
    <span class="fa-stack fa-3x m-2" title="Intellisense">
      <i class="fas fa-circle fa-stack-2x text-{{ $iconBackground }}"></i>
      <i class="{{ if not (or (hasPrefix $icon "fas ") (hasPrefix $icon "fab ")) }}fas {{ end }}{{ $icon }} fa-stack-1x fa-inverse"></i>
    </span>
  </div>
  <h4 class="h3 {{ $titleColor }}">{{ .Get "title" | markdownify }}</h4>
  <p class="mb-0">{{ .Inner }}</p>

  {{ if eq $linkType "1" }}
  {{ with .Get "url" }}<p><a href="{{ . }}">{{ with $url_text }}{{ $url_text }}{{ else }}{{ T "ui_read_more" }}{{ end }} …</a></p>{{ end }}
  {{ end }}

  {{ if eq $linkType "2" }}
  {{ with .Get "url" }}<div><a class="btn btn-sm btn-secondary text-dark stretched-link" href="{{ . }}">{{ with $url_text }}{{ $url_text }}{{ else }}{{ "Learn more" }}{{ end }} …</a></div>{{ end }}
  {{ end }}
</div>
